.background {
    background-color: silver;
}
main {
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    border-radius: 20px;
    background-color: silver;
}

.logo {
    color: rgba(57, 57, 57, 1);
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
}

.nav a {
    color: rgba(57, 57, 57, 1);
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
}

.myimage {
    border-radius: 100px;
    padding: 20px;
    width: auto;
    max-width: 400px;
}

.home {
    background-image: url(https://images.shiksha.com/mediadata/ugcDocuments/images/wordpressImages/2021_12_Programming-vs-Web-Development.jpg);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
}

.a2 {
    justify-content: right;
    text-align: center;
    padding: 20px;
    padding-top: 25%;
    width: 80%;
}

  .wite{
    color: white;
    border: solid;
    border-radius: 20px;
    background-color: silver ;
  }
.abc {
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    justify-content: space-between;
    padding: 50px;
}

.kk {
    height: 100px;
    padding: 10px;
}
.ss {
    height: 50px;
    padding: 10px;
}

.ul>li {
    padding: 50px;

}